# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
# VirusTotal API Key
VIRUSTOTAL_API_KEY= 3cd6beb958103747337bda28126b98f0ce623b04ad0f6400f6b8265bfa34e4d4

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts